<!--
  ~ This file is part of MayMeow/Uuid project
  ~ Copyright (c)  Charlotta Jung
  ~
  ~ Licensed under The MIT License
  ~ For full copyright and license information, please see the LICENSE.txt
  ~ Redistributions of files must retain the above copyright notice.
  ~ @copyright Copyright (c) Charlotta MayMeow Jung
  ~ @link      http://maymeow.click
  ~ @license   http://www.opensource.org/licenses/mit-license.php MIT License
  -->

<phpunit
        colors="never"
>
    <testsuites>
        <testsuite name="uuid">
            <file>tests/UuidTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <blacklist>
            <directory>vendor</directory>
            <directory>tests</directory>
        </blacklist>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>